/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-color: #ffc2a0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  max-height: 80%;
  width: 70vw;
  background-color: #ffff;
  border-radius: 20px;
}
.heading {
  color: #ff8542;
  font-family: Roboto;
  font-weight: 600;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
